<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="{{ url('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url('static', filename='css/dashboard.css') }}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Anigraph</a>
      <input class="form-control form-control-dark w-100" id="search_input" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" id="search_button" href="#">Search</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
<!--        <nav class="col-md-2 d-none d-md-block bg-light sidebar">-->
<!--          <div class="sidebar-sticky">-->
<!--            <ul class="nav flex-column">-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link active" href="#">-->
<!--                  <span data-feather="home"></span>-->
<!--                  Dashboard <span class="sr-only">(current)</span>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                  <span data-feather="file"></span>-->
<!--                  Orders-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                  <span data-feather="shopping-cart"></span>-->
<!--                  Products-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                  <span data-feather="users"></span>-->
<!--                  Customers-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                  <span data-feather="bar-chart-2"></span>-->
<!--                  Reports-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                  <span data-feather="layers"></span>-->
<!--                  Integrations-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->

<!--            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">-->
<!--              <span>Saved reports</span>-->
<!--              <a class="d-flex align-items-center text-muted" href="#">-->
<!--                <span data-feather="plus-circle"></span>-->
<!--              </a>-->
<!--            </h6>-->
<!--            <ul class="nav flex-column mb-2">-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                  <span data-feather="file-text"></span>-->
<!--                  Current month-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                  <span data-feather="file-text"></span>-->
<!--                  Last quarter-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                  <span data-feather="file-text"></span>-->
<!--                  Social engagement-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                  <span data-feather="file-text"></span>-->
<!--                  Year-end sale-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </nav>-->

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">


          <div class="my-4" id="myChart" width="1200" height="800"></div>


          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Anime</th>
                  <th>Distance</th>
                </tr>
              </thead>
              <tbody id="distances_tbody">
             </tbody>
            </table>
          </div>
                <form class="form-inline" id="analogyform" role="form">
         <input type="text" class="form-control autocomplete" id="analogy_src1" name="analogy_src1" placeholder="Type in a title " autocorrect="off" autocapitalize="none"/>
	 <input type="text" class="form-control autocomplete" id="analogy_target1" name="analogy_target1" placeholder="Type in a title" autocorrect="off" autocapitalize="none"/>
	 <input type="text" class="form-control autocomplete" id="analogy_src2" name="analogy_src2" placeholder="Type in a title" autocorrect="off" autocapitalize="none"/>
	 <button id="submitanalogy" type="submit" class="btn btn-default btn-primary active form-control" role="button">Show</button>
<div id="analogyresult" class="row" ></div>

     </form>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
<!--      var ctx = document.getElementById("myChart");-->

<!--      $.ajax({-->
<!--        url: '/get_points',-->
<!--        type: 'GET',-->
<!--        success: function(response){-->
<!--          x = [];-->
<!--          y = [];-->
<!--          titles = [];-->
<!--          for(var i = 0; i<response.length; i++){-->
<!--            titles.push(response[i][0]);-->
<!--            x.push(response[i][1]);-->
<!--            y.push(response[i][2]);-->

<!--          };-->

<!--          var scatterData = {-->
<!--            x: x,-->
<!--            y: y,-->
<!--            mode: 'markers',-->
<!--            type: 'scatter',-->
<!--            name: 'Anime',-->
<!--            text: titles,-->
<!--            textposition: 'top center',-->
<!--            textfont: {-->
<!--              family: 'Raleway, sanf-serif',-->
<!--            },-->
<!--            marker: {size: 10},-->

<!--          };-->
<!--          data = [scatterData];-->
<!--          var layout = {-->
<!--            xaxis: {-->
<!--              ticklen: 30,-->


<!--            },-->
<!--            width: 800,-->
<!--            height: 800,-->
<!--            autosize: false,-->
<!--            hovermode: 'closest',-->
<!--            title: 'Anime tSNE',-->

<!--          };-->
<!--          Plotly.newPlot('myChart', data, layout);-->
<!--        },-->
<!--      });-->

<!--      console.log();-->

    </script>
    <script>

      $(function() {
        function plot_neighbours(title, margin){
          $.ajax({

            url: '/get_neighbours/'+title+'/'+margin,
            type: 'GET',
            success: function(response){
              x = [];
              y = [];
              titles = [];
              for(var i = 0; i<response.length; i++){
                titles.push(response[i][0]);
                x.push(response[i][1]);
                y.push(response[i][2]);
              };

            var scatterData = {
              x: x,
              y: y,
              mode: 'markers+text',
              type: 'scatter',
              name: 'Anime',
              text: titles,
              textposition: 'top center',
              textfont: {
                family: 'Raleway, sanf-serif',
              },
              marker: {size: 10},

            };
            data = [scatterData];
            var layout = {

              width: 800,
              height: 800,
              autosize: false,
              hovermode: 'closest',
              title: 'Anime tSNE',
            };
            Plotly.newPlot('myChart', data, layout);

            },


          });

        };
        console.log('kek');
        $tbody = $('#distances_tbody');
        $('#search_button').click(function(e){

          title = $('#search_input').val();
          $.ajax({

            url: '/get_closest_anime/'+title+'/10',
            type: 'GET',
            success: function(response){
              response = response['response'];
              $tbody.html("");
              for(var i = 0;i < response.length;i++){

                $tbody.append("<tr><th>"+(i+1)+"</th><th>" + response[i][0] + "</th><th>"+response[i][1] +"</th></tr>");
                console.log(response[i]);

              }
              plot_neighbours(title, 6);

            },


          });
          e.preventDefault();

        });

        $('#analogyform').submit(function(e){


            var base_title = $('#analogy_src1').val();
            var rel_title = $('#analogy_target1').val();
            var req_title = $('#analogy_src2').val();
            $.ajax({

                type: 'GET',
                url: '/get_analogy/'+base_title+'/'+rel_title+'/'+req_title,
                success: function(response){
                    $('#analogyresult').html(response);

                },

            });
            e.preventDefault();
            return false;

        });



        $('input').autocomplete({
          delay: 800,

          source: function(request, response) {
            $.ajax({
              url: '/autocomplete/' + request.term,
              success: function(data){
                console.log(request.term);
                console.log(data[0]);
                response(data);
              },
            });
          },
        });
      });

    </script>
  </body>
</html>
